/myvenv
lab03/lab03/__pycache__
lab03/encuesta/__pycache__/*
lab03/blog/__pycache__/*
lab03/nombre_de_la_app/__pycache__
lab03/encuesta/migrations/__pycache__
lab03/blog/migrations/__pycache__
lab03/nombre_de_la_app/migrations/__pycache__
README3.md
lab05/__pycache__/*
lab05/migrations/__pycache__/*
lab05/tienda/__pycache__/*
lab05/tienda/migrations/__pycache__/*
lab05/lab05/__pycache__/*
lab05/lab05/migrations/__pycache__/*
lab06/lab06/__pycache__/*
lab06/lab06/migrations/__pycache__/*
lab06/ruc/__pycache__/*
lab06/ruc/migrations/__pycache__/*
django_crud_api/django_crud_api/__pycache__/*
django_crud_api/django_crud_api/migrations/__pycache__/*
django_crud_api/tasks/__pycache__/*
django_crud_api/tasks/migrations/__pycache__/*
lab06/ruc/templates/ruc/__pycache__/*
lab06_2/lab06_2/__pycache__/*
lab06_2/tienda/__pycache__/*
lab06_2/tienda/migrations/__pycache__/*
lab07/lab07/__pycache__/*
lab07/recetas/__pycache__/*
lab07/recetas/migrations/__pycache__/*
lab07_2/lab07_2/__pycache__/*
lab07_2/eventos/__pycache__/*
lab07_2/eventos/migrations/__pycache__/*
capis9/capis9/__pycache__/*
capis9/almacen/__pycache__/*
capis9/almacen/migrations/__pycache__/*
practica2/practica2/__pycache__/*
practica2/desarrollo/__pycache__/*
practica2/desarrollo/migrations/__pycache__/*



