<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pasarela de pago de productos</h1>
    <p>Nombre del producto: {{ name_producto }}</p>
    <p>Cantidad de productos: {{ cantidad_productos }}</p>
    <p>Precio por unidad: {{ precio_por_unidad }}</p>
    <p>IGV: {{ igv }}%</p>
    <p>Descuento: {{ descuento }}%</p>
    <p>Total a pagar: {{ total }}</p>
</body>
</html>