<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Evento</title>
</head>
<body>
    <h2>Editar Evento: {{ evento.nombre }}</h2>

<form action="{% url 'actualizar_evento' evento.id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ evento.nombre }}" required>
        </div>
        <div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required>{{ evento.descripcion }}</textarea>
        </div>
        <div>
            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="datetime-local" id="fecha_inicio" name="fecha_inicio" value="{{ evento.fecha_inicio|date:'Y-m-d\TH:i' }}" required>
        </div>
        <div>
            <label for="fecha_fin">Fecha de Fin:</label>
            <input type="datetime-local" id="fecha_fin" name="fecha_fin" value="{{ evento.fecha_fin|date:'Y-m-d\TH:i' }}" required>
        </div>
        <div>
            <label for="ubicacion">Ubicación:</label>
            <input type="text" id="ubicacion" name="ubicacion" value="{{ evento.ubicacion }}" required>
        </div>
        <div>
            <label for="capacidad">Capacidad:</label>
            <input type="number" id="capacidad" name="capacidad" value="{{ evento.capacidad }}" required>
        </div>
        <div>
            <button type="submit">Guardar Cambios</button>
        </div>
    </form>

    <a href="{% url 'eventos:logout' %}">Logout</a> <!-- Enlace para cerrar sesión -->
</body>