<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear</title>
</head>
<body>

    <h1>Crear Propietario</h1>
    <form method="post" action="{% url 'encuesta:crear_propietario' %}" >
        {% csrf_token %}
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
            <label for="numero_apartamento">Numero de apartamento:</label>
            <input type="text" id="numero_apartamento" name="numero_apartamento" required>
        </div>
        <div>
            <label for="telefono">Telefono:</label>
            <input type="number" id="telefono" name="telefono" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Crear Propietario</button>
    </form>
    {% if mensaje %}
    <p>{{ mensaje }}</p>
{% endif %}
    <a href="{% url 'encuesta:propietarios' %}">Volver a la lista de propietarios</a>

</body>
</html>